*{
    margin: 0;
    padding: 0;

}
.btn{
    background-color: gray;
    color: aliceblue;
    
}
.btn:hover{
    background-color: gray;
    color: rgb(177, 175, 142);
    cursor: pointer;
    background: linear-gradient(red,yellow);
    
}
.values{
    background-color: gray;
    color: white;
    height: 30px;
    
    text-align: center;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
   align-items: center;
    justify-content: center;
    
}
.calc{
    width: 300px;
    height: 200px;
    
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#div{
grid-column: 2/4;
}

